body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.section.one{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: 0;
}

#left-main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 15px;
}

#main-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

#main-subtext{
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    max-width: 100px;
    box-shadow: none;
    border: none;
}

#right-main{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 105px;
}

.section.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section.two .section-title{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin: 50px;
}

.list-illustrations{
    display: flex;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 200px;
}

.element .illustration{
    display: flex;
    border:  2px solid #3882F6;
    border-radius: 25px;
    height: 150px;
    width: 150px;;
    justify-content: center;
    align-items: center;
}

.element .description{
    text-align: center;
    max-width: 170px;
    
}


.section.three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 250px 120px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: bold;
    align-self: flex-end;
    font-size: 20px;
    padding-top: 30px;
}

.section.four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 40px 100px;
    margin: 100px 0;
    display: flex;
    flex: 1;
    max-width: 50%;
}

#left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 2;
}

#right-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}

#button-wrapper {
    border: white solid 1px;
}

#wrapper-title {
    font-size: 32px;
    font-weight: 700;
}

#wrapper-subtext {
    font-size: 18px;
    font-weight: lighter;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}